@{
    ViewData["Title"] = "Home Page";
}


<section class="jumbotron">
    <div class="container">
        <h1 class="jumbotron-heading fw-medium">Brief Manual</h1>
        <ul style="font-weight: 700; font-size:16px;">
            <li class="lead">There are two types of test a patient can take, either spiral or wave test.</li>
            <li class="lead">Spiral test is a test where a patient should draw a shape of spiral on a piece of paper.</li>
            <li class="lead">In case of wave test, it is going to be a shape of wave.</li>
            <li class="lead">You can submit as many photos of any tests as you like for every patient assigned to you.</li>
            <li class="lead">Each test is going to have its own diagnosis result and the last diagnosis written represents the last test the patient has taken.</li>
            <li class="lead">You can see each patient history, where all his tests are listed, each one along with its result and you can also edit them and rediagnose them.</li>
            <li class="lead">The spiral test is better for diagnosis as it has an accuracy of 81% while wave test has an accuracy of 74%.</li>
       </ul>
        <div class="alert alert-warning" role="alert">
            <p class="fw-bold" style="padding-left:450px;">
                Check examples of tests photos below!
            </p>
        </div>
       
        <p style="padding-left: 550px;">
            <a href="/Patients/Index" class="btn btn-primary my-2 ">Get Started</a>
        </p>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="~/assets/testsamples/spiral/thumb/1.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" data-fslightbox href="~/assets/testsamples/spiral/1.png">View</a>
                            </div>
                            <small class="text-muted" style="font-weight: 500">Test type: <em class="test-type">Spiral </em> </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="~/assets/testsamples/spiral/thumb/2.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" data-fslightbox href="~/assets/testsamples/spiral/2.png">View</a>
                            </div>
                            <small class="text-muted" style="font-weight: 500">Test type: <em class="test-type">Spiral </em> </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="~/assets/testsamples/wave/thumb/1.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" data-fslightbox href="~/assets/testsamples/wave/1.png">View</a>
                            </div>
                            <small class="text-muted" style="font-weight: 500">Test type: <em class="test-type">Wave </em> </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="~/assets/testsamples/wave/thumb/2.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" data-fslightbox href="~/assets/testsamples/wave/2.png">View</a>
                            </div>
                            <small class="text-muted" style="font-weight: 500">Test type: <em class="test-type">Wave </em> </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="~/assets/testsamples/wave/thumb/3.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" data-fslightbox href="~/assets/testsamples/wave/3.png">View</a>
                            </div>
                            <small class="text-muted" style="font-weight: 500">Test type: <em class="test-type">Wave </em> </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="~/assets/testsamples/spiral/thumb/4.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" data-fslightbox href="~/assets/testsamples/spiral/4.png">View</a>
                            </div>
                            <small class="text-muted" style="font-weight: 500">Test type: <em class="test-type">Spiral </em> </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="~/assets/testsamples/spiral/thumb/3.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" data-fslightbox href="~/assets/testsamples/spiral/3.png">View</a>
                            </div>
                            <small class="text-muted" style="font-weight: 500">Test type: <em class="test-type">Spiral </em> </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="~/assets/testsamples/spiral/thumb/5.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" data-fslightbox href="~/assets/testsamples/spiral/5.png">View</a>
                            </div>
                            <small class="text-muted" style="font-weight: 500">Test type: <em class="test-type">Spiral </em> </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="~/assets/testsamples/spiral/thumb/6.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" data-fslightbox href="~/assets/testsamples/spiral/6.png">View</a>
                            </div>
                            <small class="text-muted" style="font-weight: 500">Test type: <em class="test-type">Spiral </em> </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/fslightbox/index.min.js"></script>
}