html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-primary {
    font-weight: 500;
    line-height: 1.5;
    border-width: 1px;
    text-align: center;
    background-color: #0095e8;
}
/*styling patients alert command warning badge*/
.not-found-alert, .text-bg-success {
    background-color: #ffe999;
}

/*backgroud of an input*/
.form-control, .form-select {
    background-color: #f3f6f9;
}

#Patients_processing {
    width: 300px;
    opacity: 1;
}

.healthy-badge {
    padding-left: 30px;
    padding-right: 30px;
    font-size: small;
    background-color: #e8fff3 !important;
    color: #20c997 !important;
}
.parkinson-badge {
    padding-left: 25px;
    padding-right: 25px;
    font-size: small;
    background-color: #fff5f8 !important;
    color: #f1416c !important;
}

.NotAvailable-badge {
    padding-left: 15px;
    padding-right: 15px;
    font-size: small;
    background-color: #fff8dd !important;
    color: #ffc700 !important;
}
/*styling no button in bootbox confirm*/
.no-button {
    background-color: #ced4da;
}

.card-h, .card-f{
    background-color: white;
}


.form-floating > .form-select {
    padding-top: 1.625rem;
    padding-bottom: 0.225rem;
}

/*styling date input*/
.form-floating > .form-control-plaintext:focus, .form-floating > .form-control-plaintext:not(:placeholder-shown), .form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: .225rem;
}

.cancel-test {
    line-height: 1.5;
    font-weight: 500;
    width: 109px;
    height: 38px;
}

.test-type {
    color: #009ef7 !important;
    font-weight: 500;
}

.d{
    width:100%;
}
