@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="~/assets/images/forgotpassword.png" class="w-150px w-lg-500px  img-fluid" alt="Sample image" style="height:400px;"/>
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-2">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email" class="form-label">Enter your Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn  btn-primary">Reset Password</button>
                       <a asp-page="./Login" class="btn btn-primary">Cancel</a>

                </form>
            </div>
        </div>
    </div>

</section>


 
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
